
$COLOR_TMP: rgb(210, 255, 255);


/* main colors */
$dark: #303846;
$light: #f7f7f7;
$primary: #09d3ac;
$secondary: #2196f3;





$HEADER_BACKGROUND: rgba(0, 0, 0, 0.8);
$FOOTER_BACKGROUND: rgb(0, 0, 0);




/* button */
$COLOR_BTN_ACTIVE: #f1f118;
$COLOR_BTN_ACTIVE_HOVER: rgb(255, 255, 255);

$COLOR_BTN_EXTRA: rgb(255, 255, 255);
$COLOR_BTN_EXTRA_HOVER: #f1f118;






/* fonts */


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


