<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<header th:replace="fragments/header :: header"></header>

<body class="edit-course">

<div class="main-photo">
    <div class="centered">
        <div class="personal-info">

            <h2>Редактировать курс - для преподавателя</h2>
            <h2>Название курса - для студента</h2>


            <form th:method="post" th:action="@{/course/{id}/assign(id = ${course.id})}">
<!--                <input type="text" id="userId" class="inline" th:value="1" name="titlePrefix" />-->
                <button class="active" type="submit">Записаться на курс</button>
            </form>



        </div>
    </div>
</div>

<div class="container">
    <form class="edit-course-form" th:object="${course}" th:method="POST" th:action="@{/course}">

        <input type="hidden" th:field="*{id}">

        <div class="field">
            <label for="title">Название курса</label>
            <input type="text" id="title" th:field="*{title}">
             <small class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Course title has to be filled</small>
        </div>

        <div class="field">
            <label for="author">Автор</label>
            <input type="text" id="author" th:field="*{author}">
             <small class="validation-error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Course author has to be filled</small>
        </div>

        <div class="field">
            <label for="description">Описание</label>
            <textarea rows="10" type="text" id="description" th:field="*{description}"></textarea>
<!--            <input >-->
        </div>

<!--        <p></p><input name="dzen" type="radio" value="nedzen"> Для начинающих </p>-->
<!--        <p><input name="dzen" type="radio" value="dzen"> Для продолжающих </p>-->
<!--        <p><input name="dzen" type="radio" value="pdzen" checked> Для продвинутых </p>-->

            <div class="form-button">
                <button class="active" type="submit">Сохранить</button>
            </div>
    </form>

    <div class="lessons-list">
        <h3> Список уроков </h3>

        <table>
            <tr>
                <th> Название урока </th>
                <th> Действие </th>
<!--                <th>Редактировать урок </th>-->
            </tr>
            <tr th:each="lesson : ${lessons}">
                <td th:text="${lesson.title}"> Название урока </td>

                <td>
                    <a th:href="@{/lesson/{id}/edit(id = ${lesson.id})}">
                        Редактировать
                    </a>
                    <form class="delete" th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                        <button class="btn-like-link" type="submit">Удалить </button>
                    </form>
                </td>
<!--                <td>-->
<!--                    Редактировать-->
<!--                </td>-->
            </tr>
        </table>

        <h4>
            <a th:href="@{/lesson/new(course_id = ${course.id})}">
                Добавить новый урок
            </a>
        </h4>


    </div>



    <div class="lessons-list">
        <h3> Список студентов</h3>

        <table>
            <tr>
                <th> Имя студента </th>
                <th> Прогресс </th>
                <th> Действие </th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.username} + ' ' + ${user.surname}"> Имя студента </td>

                <th> 1/10 </th>

                <td>

                    <form class="delete" th:method="delete" th:action="@{/user/course/{id}(id = ${course.id})}">
                        <button class="btn-like-link" type="submit">Снять с курса</button>
                    </form>


<!--                    <a th:href="@{/lesson/{id}/edit(id = ${lesson.id})}">-->
<!--                        Снять с курса-->
<!--                    </a>-->


                </td>
            </tr>
        </table>

        <h4>
<!--            <a th:href="@{/lesson/new(course_id = ${course.id})}">-->
                Добавить студента
<!--            </a>-->
        </h4>
    </div>




    <form class="delete" th:method="delete" th:action="@{/course/{id}(id = ${course.id})}">
        <button class="extra" type="submit">Удалить курс</button>
    </form>



</div>

</body>

<footer th:replace="fragments/footer :: footer"></footer>

</html>