<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">

    <div class="header-container">


        <a th:href="@{/}"> My coursera </a>

        <nav>
            <li>
                <a th:href="@{/course}"> Все курсы</a>
            </li>

            <!--        <span th:classappend="${activePage == 'courses'} ? active">-->
            <!--                <a th:href="@{/course}">Courses</a>-->
            <!--            </span>-->
            <!--        <span th:classappend="${activePage == 'users'} ? active">-->
            <!--                <a th:href="@{/user}">User</a>-->
            <!--            </span>-->

            <li>
                <a th:href="@{/course/new}"> Создать курс </a>
            </li>

            <img th:src="@{../images/user.png}" alt=""/>
            <li>
                <a th:href="@{/user}"> Мой профиль </a>
            </li>

            <li>
                <a th:href="@{/user/courses}"> Мои курсы </a>
            </li>

            <li>
                <a th:href="@{/login}"> Вход  </a>
            </li>
            <li>
                <a th:href="@{/registration}"> Регистрация </a>
            </li>
            <li>
                <a th:href="@{/}"> Выход </a>
            </li>

        </nav>

        <form class="search" th:method="GET" th:action="@{/}">
        <!--        <label for="titlePrefix" class="inline">Найти</label>-->
                <input type="text" id="titlePrefix" class="inline" th:value="${param.titlePrefix}" name="titlePrefix" />
                <button class="active"> Поиск </button>
            </form>
    </div>

</header>
</html>

